{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block title %}НОВЫЙ НАВЫК | Пользовательское соглашение {% endblock %}
{% block main %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="text-center mb-4">Пользовательское соглашение</h1>

                <section class="mb-5">
                    <p>
                        Настоящим Я, действуя своей волей и в своем интересе, при размещении (вводе) своих персональных
                        данных на Интернет сайте <a href="*****">*****</a> ИП Соболевская Светлана Сергеевна (ИНН
                        753701346902, ОГРН 321753600005771, далее - Оператор) подтверждаю свое согласие на обработку
                        указанных мной персональных данных Оператором в целях предложения мне услуг, новых услуг,
                        предлагаемых Оператором, в целях проведения опросов, анкетирования, рекламных и маркетинговых
                        исследований в отношении услуг, предоставляемых Оператором, в том числе путем осуществления
                        прямых контактов со мною посредством средств связи, указанных мной на настоящем сайте.
                    </p>
                    <p>
                        Настоящее право (согласие) предоставляется на осуществление любых действий в отношении моих
                        персональных данных, которые необходимы и желаемы для достижения вышеуказанных целей, включая,
                        без ограничения, сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение),
                        использование, передачу, обезличивание, блокирование и уничтожение персональных данных, под
                        которыми понимаются все данные, указанные мной на настоящем сайте.
                    </p>
                    <p>
                        Настоящим подтверждаю, что уведомлен о том, что обработка персональных данных осуществляется
                        Оператором любым способом, в том числе как с использованием средств автоматизации (включая
                        программное обеспечение), так и без использования средств автоматизации (с использованием
                        различных материальных носителей, включая бумажные носители).
                    </p>
                </section>

                <section class="mb-5">
                    <h4>Правовые аспекты</h4>
                    <p>
                        Пользователь обязуется не использовать сервисы сайта <a href="*****">*****</a> для целей,
                        противоречащих законодательству РФ, а также соблюдать все правила и условия, установленные
                        Оператором.
                    </p>
                    <p>
                        В случае возникновения споров или разногласий, связанных с использованием сайта, стороны
                        обязуются приложить усилия для их разрешения путем проведения переговоров. Если споры не могут
                        быть разрешены путем переговоров, они подлежат рассмотрению в судах РФ.
                    </p>
                </section>

                <section class="mb-5">
                    <h4>Изменения в соглашении</h4>
                    <p>
                        Оператор оставляет за собой право вносить изменения в настоящее пользовательское соглашение. Все
                        изменения вступают в силу с момента их публикации на сайте <a href="*****">*****</a>.
                        Пользователь обязуется регулярно проверять актуальность текста соглашения.
                    </p>
                </section>

                <section class="mb-5">
                    <h4>Контакты</h4>
                    <p>
                        По всем вопросам, касающимся данного соглашения, вы можете обратиться к Оператору через
                        электронную почту: venus-s@mail.ru.
                    </p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}