{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock %}
{% block title %}НОВЫЙ НАВЫК | Политика конфиденциальности {% endblock %}
{% block main %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h1 class="text-center mb-4">Политика конфиденциальности</h1>
                <section class="mb-5">
                    <h4>Общие положения</h4>
                    <p>
                        Настоящая политика обработки персональных данных составлена в соответствии с требованиями
                        Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок
                        обработки персональных данных и меры по обеспечению безопасности персональных данных Соболевская
                        Светлана (далее – Оператор).
                    </p>
                    <p>
                        Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение
                        прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты
                        прав на неприкосновенность частной жизни, личную и семейную тайну.
                    </p>
                    <p>
                        Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика)
                        применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a
                            href="*****">*****</a>.
                    </p>
                </section>

                <section class="mb-5">
                    <h4>Основные понятия, используемые в Политике</h4>
                    <ul>
                        <li><strong>Автоматизированная обработка персональных данных</strong> – обработка персональных
                            данных с помощью средств вычислительной техники;
                        </li>
                        <li><strong>Блокирование персональных данных</strong> – временное прекращение обработки
                            персональных данных (за исключением случаев, если обработка необходима для уточнения
                            персональных данных);
                        </li>
                        <li><strong>Веб-сайт</strong> – совокупность графических и информационных материалов, а также
                            программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому
                            адресу <a href="*****">*****</a>.
                        </li>
                        <!-- Добавьте остальные пункты -->
                    </ul>
                </section>

                <section class="mb-5">
                    <h4>Цели обработки персональных данных</h4>
                    <p>
                        Цель обработки персональных данных Пользователя — информирование Пользователя посредством
                        отправки электронных писем и отправки информации в мессенджеры.
                    </p>
                    <p>
                        Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах,
                        специальных предложениях и различных событиях.
                    </p>
                    <p>
                        Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для
                        сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
                    </p>
                </section>

                <section class="mb-5">
                    <h4>Правовые основания обработки персональных данных</h4>
                    <p>
                        Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или
                        отправки Пользователем самостоятельно через специальные формы, расположенные на сайте <a
                            href="*****">*****</a>. Заполняя соответствующие формы и/или отправляя свои персональные
                        данные Оператору, Пользователь выражает свое согласие с данной Политикой.
                    </p>
                </section>

                <section class="mb-5">
                    <h4>Заключительные положения</h4>
                    <p>
                        Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его
                        персональных данных, обратившись к Оператору с помощью электронной почты venus-s@mail.ru.
                    </p>
                    <p>
                        В данном документе будут отражены любые изменения политики обработки персональных данных
                        Оператором. Политика действует бессрочно до замены ее новой версией.
                    </p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}